* {
  margin: 0;
  padding: 0;
}

body {
  /*background-image: url("images/background_others.jpg") no-repeat center;*/
  /*Do we need a background image?*/
  font: normal 85% Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 0 0 10px 0;
  line-height: 1.7em;
  text-shadow: 0px 1px 0px #FFF;
  font-size: 15px;
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font: normal 175% Arial, Helvetica, sans-serif;
  color: #000;
  text-shadow: 0px 1px 0px #FFF;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
}

ul {
  margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;
}

#main {
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  width: 1250px;
  height: auto;
}

li {
  color: white;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-weight: 300;
  margin: 16px 20px;
  text-align: center;
  list-style: none;
  font-size: 15px;
  color: black;
}

#main ul {
  margin-left: 13%;
}

#main h1 {
  text-align: center;
}

.navigation {
  overflow-y: hidden;
  background-color: rgba(240, 230, 255, 0.0);
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 80px;
  float: none;
  z-index: 10000;
}

/*.navigation ul {
  margin-right: 60px;
}*/

#myButton {
  background-color: rgb(0, 0, 0, 0);
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: rgb(251, 123, 80);
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 28px;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

#myButton:hover {
  background-color: #fcda69;
}

#myButton:active {
  position: relative;
  top: 1px;
}

#myButton a {
  text-transform: uppercase;
}

#logo {
  color: rgb(255, 196, 0);
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
  font-weight: bold;
  padding: 0px 0px;
}

#footer {
  text-align: center;
  width: 920px;
  height: 100px;
  margin: 5px auto 0 auto;
  padding-top: 10px;
  border-top: solid 1px;
}

#footer p {
  padding: 0;
}
