@import url('https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Lato|Love+Ya+Like+A+Sister|Raleway');
body {
  background: url("../images/background.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
}

.navigation {
  overflow-y: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.0);
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  float: none;
  z-index: 10000;
  margin-top: 0;
  justify-content: center;
  align-items: flex-start;
}

ul {
  padding: 0;
}

li {
  color: white;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 20px;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  position:relative;
  top: 1px;
}

#logo {
  color: rgb(255, 196, 0);
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
  font-weight: bold;
  padding: 0px 0px;
}

.cover-content {
  box-sizing: border-box;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 70%;
  height: 120px;
}

h1 {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
  word-spacing: 20px;
  letter-spacing: 3px;
}

p {
  color: #333;
  line-height: 1.5em;
  text-indent: 2em;
}

#myButton {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: rgb(251, 123, 80);
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 28px;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

#myButton:hover {
  background-color: #fcda69;
}

#myButton:active {
  position: relative;
  top: 1px;
}

.content {
  position: absolute;
  top: 100vh;
  height: 500px;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* Card starts here */
.card {
  margin: 30px auto;
  width: 40%;
  background: Beige;
  border-radius: 5px;
  box-shadow: 5px 3px 5px #ccc;
  justify-content: center;
  align-items: flex-start;
}

.card-content {
  padding: 20px;
}

.card-title {
  position: relative;
  text-align: center;
  color: #333;
  margin: 0;
}

/* Card ends here */

.video {
  position: relative;
  padding-top: 25%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 90%;
}

.footer-space {
  height: 15%;
  width: 100%;
}
