html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#cover {
  height: 950px;
  top: 0;
  width: 100%;
  background: url("../images/background.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  /*border-bottom: solid 25px rgb(255, 177, 27);*/
}

.navigation {
  overflow-y: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.0);
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  float: none;
  z-index: 10000;
  margin-top: 0;
}

ul {
  padding: 0;
}

li {
  color: white;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 20px;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  position:relative;
  top: 1px;
}

#logo {
  color: rgb(255, 196, 0);
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
  font-weight: bold;
  padding: 0px 0px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 230px;
  width: 70%;
}

h1 {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
  word-spacing: 20px;
  letter-spacing: 3px;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}

p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  /*background-image: -webkit-linear-gradient(#FFD194, #BC1324);*/
  color: rgb(255, 153, 0);
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
  padding: 14px;
  position: relative;
  top: 15px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
  word-spacing: 10px;
}

#myButton {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: rgb(251, 123, 80);
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 28px;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

#myButton:hover {
  background-color: #fcda69;
}

#myButton:active {
  position: relative;
  top: 1px;
}

.video {
  position: relative;
  top: 10px;
  padding-right: 40px;
}

.bottom_page {
  height: 1000px;
  background-color: rgb(232, 182, 71);
}

.bottom_page h2 {
  font-family: 'Love Ya Like A Sister', cursive;
  border-left: 8px solid orange;
  border-right: 8px solid orange;
  border-bottom: 5px double rgb(250, 195, 30);
  width: 200px;
  position: relative;
  /*left: 70%;*/
  /*text-align: center;*/
}

/* Card starts here */
.card {
  margin: 30px auto;
  width: 550px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}

.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.card-link a:hover {
  color: #0090aa;
}
/* Card ends here */

.video2 {
  padding-top: 1em;
  text-align: center;
}
